{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row text-center">
            <div class="col-12 mt-2 my-auto">
                <h3 class="top-products-link">Shopping Cart</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mb-2 mt-2"> 
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="d-block d-sm-none text-center">                
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "cart/product-image.html" %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "cart/product-info.html" %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2"> 
                            <p class="my-0">Subtotal: €{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </div>                      
                        <div class="col-12 col-sm-6 offset-sm-4">
                            {% include "cart/quantity-form.html" %}
                        </div>
                    </div>
                    <div class="row"><div class="col"><hr></div></div>
                {% endfor %}
                <div class="row">
                    <div class="col text-right">
                        {% include "cart/cart-total.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include "cart/checkout-buttons.html" %}                       
                    </div>
                </div>               
            </div>

            <div class="table-responsive d-none d-sm-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% if item.product.image %}
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="100" height="100">
                                {% else %}
                                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                {% endif %}
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                <form class="form update-form w-50" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group input-group-{{ item.item_id }}">            
                                            <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="item_quantity"> 
                                        </div>
                                    </div>
                                </form>
                                <a class="update-item text-info mr-3" data-item="{{ item.item_id }}"><small>Update</small></a>
                                <a class="delete-item text-danger" id="delete_{{ item.item_id }}"><small>Remove</small></a>
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6 class="text-black"><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6 class="text-black"><strong>Shipping costs: €{{ shipping_cost }}</strong></h6>
                            <h4 class="mt-4 text-black"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products:products' %}" class="btn btn-basic btn-order btn-left mt-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-basic btn-order btn-right mt-2">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}                        
                <p class="lead mb-5">Your cart is empty.</p>
                <a href="{% url 'products:products' %}" class="btn btn-basic">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}          
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    
    // Update quantity on click
    $('.update-item').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.delete-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('delete_')[1];        
        var url = `/cart/delete/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

</script>
   
{% endblock %}



