{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row text-center">
            <div class="col-12 mt-2 my-auto py-2">
                <h3 class="top-products-link">My Profile</h3>
                <hr> 
            </div>
        </div>
    </div>    
{% endblock %}

{% block content %}
<div class="container main text-center">
    <div class="row">        
        {% include 'includes/profile-nav.html' %}   
        <div class="col-12 col-md-6 profile-main">
            <h4 class="profile-header mb-3">Edit Shipping Address</h4>
            
            <form class="mt-3 mb-3" action="{% url 'profile:edit_address' address.id %}" method="POST" id="edit-address-form">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-basic">Edit address</button>
                <span class="btn btn-grey ml-3" onclick="window.history.back()">Cancel</span>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countyfield.js' %}">
    </script>
    <!-- Remove disabled attribute from form fields -->
    <script>
        $('#edit-address-form').submit(function(){
        $('#edit-address-form :disabled').removeAttr('disabled');             
        });
    </script>

{% endblock %}
