{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row text-center">
            <div class="col-12 mt-2 my-auto py-2">
                <h3 class="top-products-link">My Profile</h3>
                <hr> 
            </div>
        </div>
    </div>    
{% endblock %}

{% block content %}
<div class="container main text-center">
    <div class="row">        
        {% include 'includes/profile-nav.html' %}  
        <div class="col-12 col-md-9 profile-main">
            <div class="container">                
                <div class="row">
                    <div class="col-8">
                        <h4 class="profile-header mb-3">Order Details</h4>                        
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-muted text-left">Order Number: {{ order.order_number }} </p>
                        <p class="text-muted text-left">Placed on {{ order.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="d-block d-sm-none text-center">                
                            {% for item in order.lineitems.all %}
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include "profiles/product-image.html" %}
                                    </div>
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include "profiles/product-info.html" %}
                                    </div>
                                    <div class="col-12 col-sm-6 mb-2"> 
                                        <p class="my-0">Subtotal: €{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </div>
                                </div>
                                <div class="row"><div class="col"><hr></div></div>
                            {% endfor %}
                            <div class="row">
                                <div class="col text-right">
                                    {% include "profiles/order-total.html" %}
                                </div>
                            </div>                                       
                        </div>
                        <div class="order-details table-responsive d-none d-sm-block">
                            <table class="table table-sm order-table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th></th>                                        
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.lineitems.all %}
                                    <tr>
                                        <td class="w-25">                                        
                                            {% if item.product.image %}
                                            <img class="card-img-top w-50 img-fluid" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                            {% else %}
                                           <img class="card-img-top w-50 img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                            {% endif %}
                                            </td>
                                        <td>{{ item.product.name }}</td>                                       
                                        <td><a href="{% url 'products:review_product' item.product.id order.id %}" class="btn btn-basic text-small">Leave a Review</a></td>
                                        <td>{{ item.quantity }}</td>
                                        <td>€{{ item.product.price }}</td>                                               
                                        <td>€{{ item.product.price | calc_subtotal:item.quantity }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="6" class="text-right">
                                            <p class="mb-1">Total: €{{ order.order_total }}</p>
                                            <p class="mb-1">Shipping: €{{ order.shipping_cost }}</p>
                                            <p class="mb-1"><strong>Grand Total: €{{ order.grand_total }}</strong></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                            
                        </div>
                        <div class="text-left mt-3">
                            <a href="{% url 'profile:orders' %}" class="arrow-back profile-links">
                            <i class="fa fa-angle-double-left "></i> Back to Orders</a>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}