.profile-details {
    min-height: 100%;
    border-right: solid #939b62 1px;
    text-align: left;
}

.profile-links {
    color: #292f36; 
    text-decoration: none;
    text-transform: uppercase;
}

.profile-links:hover {
    color:#939b62; 
    text-decoration: none;  
}

.profile-header {
    color:#939b62;
    font-weight: 600;
}

.personal-info {
    text-align: left;
}

#add-address-form .form-control {
    color: #292f36; 
}

#add-address-form input::placeholder {
    color: #636c72;
}

#id_profile_county,
#id_profile_county option:not(:first-child) {
    color: #292f36;     
}

#id_profile_country {
    background: #f5f7fa;   
}

#div_id_is_default {
    text-align: left !important;
}

.text-small {
    font-size: 0.8rem;
}

.order-history {
    max-height: 300px; 
    overflow-y: auto;    
}

.order-details {
    max-height: 400px; 
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.order-table {
    margin-bottom: 0;
}

/* Media */

@media only screen and (max-width: 991px) {
    .main {
        text-align: center;
        margin: 0 auto;
    }
      
}



@media (min-width: 768px) and (max-width: 991px) { 

    .profile-details { 
        border-right: hidden;
    }
  

}

@media (max-width: 991px) {

.profile-details { 
    border-right: hidden;
}

.profile-header {
    text-align: left !important;
}

.profile-main {
    padding: 0 !important;  
}

.profile-line {
    margin-top: 5px !important;
}



}

