html {
    height: 100%;
}

body {
    color: #292f36; 
    background-color: #f8f9fa;
    font-family: 'Lato';
}

/* .main {
    margin-top: 150px;   
} */

.header-container {
  margin-top: 150px; 
}

.product-row, 
.product-container {
  justify-content: center;
  align-content: center;
}

.text_upper {
    text-transform: uppercase;
}

.search-block {
    border: none;
}

.products-link:hover,
.top-products-link:hover {  
  text-decoration: none;
}

.btn-basic {
  border: 2px solid #ff7b54;  
  background: #fff;
}

.btn-basic:hover {
  color: #ff7b54;   
}

/* COLOURS */

h2,
.text-black {
    color: #292f36; 
}

h3, h4, h5, h6 {
    color: #ff7b54;
    font-family: 'Merriweather';
}

.text-black {
    color: #000 !important;
}

.bg-header,
.dropdown-main-menu {    
    background: #ffd56f !important;
}

.logo-colour {
    color: #ff7b54;
}

.icons-colour,
.map-text {
    color:#292f36;  
}

.icons-colour:hover {
    color:#ff7b54;
}

.bg-dropdown a:hover,
.bg-logo,
.bg-header {
    background-color: #fff;
}

.bg-nav-shop,
.bg-shop-header {
  background-color: #ffb26b;
}

.btn-orange {
  background-color: #ff7b54;
}

.offers-banner {
    background-color: #ff7b54;
    color:#292f36;    
}

.capture-services,
.badge-category:hover {
    color:#292f36; 
}

.badge-category {
  color:#939b62;
}

.products-link:hover {
  color: #939b62;  
}

.top-products-link,
.top-products-link:hover  {
  color: #ff7b54; 
}


/* HEADER */

header {
    padding: 0 !important;
}

.logo-link {
    width: -moz-fit-content;
    width: fit-content; 
    font-family: 'Merriweather', serif;  
}

.navbar {
    padding: 0 !important;
}

.nav-link {
    padding: 0.15rem;
}

.navbar-shop {
    padding: 10px !important;
}
  
#slogan {
    letter-spacing: 2px;
    white-space: nowrap;
    color: #939b62;
    font-family: 'Merriweather', serif;
}

.cart,
.dropdown {
  float: right;
  margin-right: 10px;
}



/* FOOTER */

.footer-container {
    background-color: #ffd56f;
    padding: 15px;
}

.footer-content > ul > li {
    list-style: none;    
}


/* bootstrap toasts */

.message-container {
  position: fixed;
  top: 95px;
  right: 30px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 3px;
}


/* Carousel */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ff7b54 !important;
}

/* .carousel-multiple::before {
    display: block;
    margin-bottom: 20px;
    font-size: 30px; 
    content: "xs - default breakpoint";
  } */

  @media (min-width: 576px) and (max-width: 767px) {
    /* .carousel-multiple::before {
      content: "media-breakpoint-between(sm, sm)";
    } */
    .carousel-multiple .carousel-item.active,
  .carousel-multiple .carousel-item-next,
  .carousel-multiple .carousel-item-prev {
      display: flex;
    }
    .carousel-multiple .carousel-inner {
      overflow: visible;
    }
    .carousel-multiple .carousel-inner .carousel-item {
      margin-right: inherit;
    }
    .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item {
      display: flex;
    }
    .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) {
      transition: none;
    }
    .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
      transition: none;
    }
    .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -50%;
      z-index: -1;
      display: flex;
      visibility: visible;
      height: 100%;
    }
    .carousel-multiple .carousel-inner .carousel-item-next, .carousel-multiple .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    .carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      right: 100%;
      z-index: -1;
      display: flex;
      visibility: visible;
      height: 100%;
      transform: translate3d(100%, 0, 0);
    }
    .carousel-multiple .active.carousel-item-left + .carousel-item-next.carousel-item-left {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    .carousel-multiple .active.carousel-item-right + .carousel-item-prev.carousel-item-right {
      position: relative;
      transform: translate3d(100%, 0, 0);
      display: flex;
      visibility: visible;
    }
    .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      display: flex;
      visibility: visible;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    /* .carousel-multiple::before {
      content: "media-breakpoint-between(md, md)";
    } */
    .carousel-multiple .carousel-item.active,
  .carousel-multiple .carousel-item-next,
  .carousel-multiple .carousel-item-prev {
      display: flex;
    }
    .carousel-multiple .carousel-inner {
      overflow: visible;
    }
    .carousel-multiple .carousel-inner .carousel-item {
      margin-right: inherit;
    }
    .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item {
      display: flex;
    }
    .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) {
      transition: none;
    }
    .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
      transition: none;
    }
    .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333333333%;
      z-index: -1;
      display: flex;
      visibility: visible;
      height: 100%;
    }
    .carousel-multiple .carousel-inner .carousel-item-next, .carousel-multiple .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    .carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      right: 100%;
      z-index: -1;
      display: flex;
      visibility: visible;
      height: 100%;
      transform: translate3d(100%, 0, 0);
    }
    .carousel-multiple .active.carousel-item-left + .carousel-item-next.carousel-item-left {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    .carousel-multiple .active.carousel-item-right + .carousel-item-prev.carousel-item-right {
      position: relative;
      transform: translate3d(100%, 0, 0);
      display: flex;
      visibility: visible;
    }
    .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      display: flex;
      visibility: visible;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    /* .carousel-multiple::before {
      content: "media-breakpoint-between(lg, lg)";
    } */
    .carousel-multiple .carousel-item.active,
  .carousel-multiple .carousel-item-next,
  .carousel-multiple .carousel-item-prev {
      display: flex;
    }
    .carousel-multiple .carousel-inner {
      overflow: visible;
    }
    .carousel-multiple .carousel-inner .carousel-item {
      margin-right: inherit;
    }
    .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item {
      display: flex;
    }
    .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) {
      transition: none;
    }
    .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
      transition: none;
    }
    .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;
      z-index: -1;
      display: flex;
      visibility: visible;
      height: 100%;
    }
    .carousel-multiple .carousel-inner .carousel-item-next, .carousel-multiple .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    .carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      right: 100%;
      z-index: -1;
      display: flex;
      visibility: visible;
      height: 100%;
      transform: translate3d(100%, 0, 0);
    }
    .carousel-multiple .active.carousel-item-left + .carousel-item-next.carousel-item-left {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    .carousel-multiple .active.carousel-item-right + .carousel-item-prev.carousel-item-right {
      position: relative;
      transform: translate3d(100%, 0, 0);
      display: flex;
      visibility: visible;
    }
    .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      display: flex;
      visibility: visible;
    }
  }
  @media (min-width: 1200px) {
    /* .carousel-multiple::before {
      content: "media-breakpoint-up(xl)";
    } */
    .carousel-multiple .carousel-item.active,
  .carousel-multiple .carousel-item-next,
  .carousel-multiple .carousel-item-prev {
      display: flex;
    }
    .carousel-multiple .carousel-inner {
      overflow: visible;
    }
    .carousel-multiple .carousel-inner .carousel-item {
      margin-right: inherit;
    }
    .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item {
      display: flex;
    }
    .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) {
      transition: none;
    }
    .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
      transition: none;
    }
    .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -16.6666666667%;
      z-index: -1;
      display: flex;
      visibility: visible;
      height: 100%;
    }
    .carousel-multiple .carousel-inner .carousel-item-next, .carousel-multiple .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    .carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      right: 100%;
      z-index: -1;
      display: flex;
      visibility: visible;
      height: 100%;
      transform: translate3d(100%, 0, 0);
    }
    .carousel-multiple .active.carousel-item-left + .carousel-item-next.carousel-item-left {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    .carousel-multiple .active.carousel-item-right + .carousel-item-prev.carousel-item-right {
      position: relative;
      transform: translate3d(100%, 0, 0);
      display: flex;
      visibility: visible;
    }
    .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      display: flex;
      visibility: visible;
    }
  }