html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
  color: #292f36; 
  background-color: #f8f9fa;
  font-family: 'Lato';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* height: calc(100vh - 200px);   */
}

.product-container {
  max-width: 70% !important;
}

.search-box {
  background: transparent !important;
}

.product-row, 
.product-container {
  justify-content: center;
  align-content: center;  
}

.text-upper {
    text-transform: uppercase;
}

.products-link:hover,
.top-products-link:hover {  
  text-decoration: none;
}

.btn-basic {
  border: 2px solid #ff7b54;  
  background: #fff;
}

.btn-basic:hover {
  color: #ff7b54;   
}

.btn-left {
  margin-right: 15px;
}

.btn-cancel {  
  background-color: #fff !important; 
  border: 2px solid #939b62 !important;  
  color: #292f36;   
}

.btn-cancel:hover {
  color: #939b62 !important;     
}

.update-item,
.delete-item {
    cursor: pointer;
}

.top-products-link {
  font-weight: 600;
}

.arrow-back:hover {
  color: #ff7b54;
  cursor: pointer;
}

.bg-header,
.offers-banner {
  height: 30px;
}

.profile-main {
  padding-left: 15px;
}

.capture-services {
  margin-top: 10px;
}

/* COLOURS */

h2,
.text-black {
    color: #292f36;
    font-family: 'Merriweather'; 
}

h3, h4, h5, h6 {
    color: #ff7b54;
    font-family: 'Merriweather';
}

.text-black {
    color: #292f36 !important;
}

.bg-header,
.dropdown-main-menu {    
  background: #d3815b !important; 
  /* background: #d77952 !important;  */
}

.logo-colour {
    color: #ff7b54;
}

.icons-colour,
.map-text {
    color:#292f36;  
}

.icons-colour:hover {
    color:#ff7b54;
}

.nav-link,
.dropdown-item {
  color: #292f36 !important;
}

.nav-link:hover {
  color: #e7e7e7 !important;
}

.bg-dropdown a:hover,
.bg-logo {
    background-color: #fff;
}

.bg-nav-shop,
.bg-shop-header {
  background-color: #ffb26b;
}

.btn-orange {
  background-color: #ff7b54;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  color:#292f36;
}

.form-custom {
  border-radius: 0.25rem 0 0 0.25rem;
}

.offers-banner {
    background-color: #d3815b;
    color:#292f36;      
}

.capture-services,
.badge-category:hover {
    color:#292f36; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ff7b54 !important;
    
}

.badge-category {
  color:#939b62;
}

.products-link:hover {
  color: #939b62;  
}

.top-products-link,
.top-products-link:hover  {
  color: #ff7b54; 
}


/* HEADER */

header {
    padding: 0 !important;
}

.header-container {
  padding-top: 200px; 
}

.logo-link {
    width: -moz-fit-content;
    width: fit-content; 
    font-family: 'Merriweather', serif;  
}

.logo-font {
  text-transform: uppercase;
}

.logo-img {
  margin-left: 20px;
  padding-bottom: 8px;
}

.navbar {
    padding: 0 !important;
}

.navbar-collapse {
  background-color: #d3815b;
}

#topnav {
  display: flex;  
  align-items: center;
}

.nav-link {
    padding: 0.15rem;
}

.navbar-shop {
    padding: 10px !important;
}
  
#slogan {
    letter-spacing: 2px;
    white-space: nowrap;
    color: #939b62;
    font-family: 'Merriweather', serif;
    text-align: center; 
}

.offer-therapy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.cart,
.dropdown {
  float: right;
  margin-right: 10px;
}

.cart-notification-wrapper {
  height: 150px;   
  overflow-x: hidden;
  overflow-y: auto;  
}

/* CONTACT US */

.contact-list {
  list-style: none;
  padding-left: 0;
}

.map-size {
  width: 300px;  
  height: 225px;
}

.contact-main {
  display: flex;
  justify-content: center;    
}

/* FOOTER */

.footer-container {
  background: linear-gradient(90deg, #d3815b, #b9b59d); 
  padding: 15px;
  position: sticky;
  bottom: 0 !important;
  width: 100%;
}

.footer-content > ul > li {
    list-style: none;    
}


/* bootstrap toasts */

.message-container {
  position: fixed; 
  background-color: #f8f9fa;
  top: 120px;
  right: 30px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 3px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem;  
  color: #636c72 !important;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #ff7b54;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before { 
  border-color: #ff7b54;
  border-radius: 0;
}

/* Mailchimp */

#mc_embed_signup {
  background: transparent; 
  clear: left; 
  width: 100%;
}

#mc-embedded-subscribe {  
  background: #fff !important;
  color: #292f36 !important;
  /* border: 2px solid #d3815b !important; */
  box-shadow: 2px 2px 4px #636c72;
  border-radius: 0.25rem; 
}

#mc-embedded-subscribe:hover {
  color: #ff7b54 !important;  
  box-shadow: inset 1px 1px 1px #636c72;
  transition: 0.5s !important;
}

.asterisk-black {
  color: #292f36 !important;
}

/* Media */

@media only screen and (max-width: 400px) {  

  .btn-order {
    margin-left: 40px;
    width: 70%;
    text-align: center;
  }

  .btn-right {
    margin-top: 16px;
  }

  .btn-left {
    margin-right: 0;
  }
  
  .submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
}

@media only screen and (max-width: 576px) {

  .img-box {
    display: none;
  }

  .btn-basic {
    font-size: 0.85rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }
 
 
}

@media only screen and (max-width: 767px) {

  .update-form,
  .form-control {
    min-width: 100% !important;
  }

  .map-size {
    width: 250px;  
    height: 190px;
  } 


}

@media only screen and (max-width: 992px){

  .bg-header,
  .offers-banner {
    height: 40px !important;  
  }

  .nav-item {
    padding-left: 10px;
  }

 
}