{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row text-center">
            <div class="col-12 mt-2 my-auto py-2">
                <h3 class="top-products-link">404 Error</h3>
                <hr> 
            </div>
        </div>
    </div>    
{% endblock %}

{% block content %}
<div class="container main text-center">
    <div class="row"> 
        <div class="col-12">
            <h4>The page you are looking for isn't available...</h4>
            <div class="my-5">
                <h3>
                    <a href="{% url 'core' %}" class="btn btn-basic">
                            Return to home page
                    </a>
                </h3>
            </div>
        </div>
    </div>
</div>


{% endblock %}