<div class="collapse navbar-collapse bg-header" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto h-auto">
        <li class="nav-item d-block">
            <a class="text_upper font-weight-bold nav-link mr-5" href="{% url 'core' %}" id="core-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown bg-header">
            <a class="text_upper font-weight-bold nav-link mr-5 dropdown-toggle" href="#" id="our-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our services
            </a>
            <div class="dropdown-menu dropdown-main-menu border-0 mt-0 rounded-0" aria-labelledby="our-services-link">
                <a href="#" class="dropdown-item text_upper">Yoga</a>
                <a href="#" class="dropdown-item text_upper">Yoga Therapy</a>
                <a href="#" class="dropdown-item text_upper">Thai massage</a>
                <a href="#" class="dropdown-item text_upper">Medical massage</a>
                <a href="#" class="dropdown-item text_upper">Applicators</a>                    
            </div>
        </li>
        <li class="nav-item dropdown bg-header">
            <a class="text_upper font-weight-bold nav-link mr-5 text-black dropdown-toggle" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu dropdown-main-menu border-0 mt-0 rounded-0" aria-labelledby="shop-link">
                <a href="#" class="dropdown-item text_upper">Mats</a>
                <a href="#" class="dropdown-item text_upper">Rollers</a>
                <a href="#" class="dropdown-item text_upper">Bands</a>
                <a href="#" class="dropdown-item text_upper">Belts</a>
                <a href="#" class="dropdown-item text_upper"> Massagers</a>                    
            </div>
        </li>
        <li class="nav-item d-block">
            <a class="text_upper font-weight-bold nav-link mr-5" href="#" id="">
                Articles
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="text_upper font-weight-bold nav-link mr-5" href="#" id="">
                About us
            </a>
        </li>
    </ul>
</div>    