{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container main text-center">
    <h3 class="py-3">T-STUDIO Services</h3>
        <div class="container py-3">
        <div class="p-1 m-n3 overflow-hidden">
            <div id="carousel-multiple" class="carousel slide carousel-multiple" data-ride="carousel"
                data-maximum-items-per-slide="6">
            <div class="row position-relative">
                <div class="row carousel-inner mx-0">
                <div class="carousel-item col-sm-6 col-md-4 col-lg-3 col-xl-2 active">
                    <div class="w-100">
                    <a href="#">
                        <img class='img-fluid rounded' src="{{ MEDIA_URL }}yoga_session_1.jpg" alt="Yoga">
                        <p class="capture-services">Individual Hatha Yoga classes</p>
                    </a>
                    </div>
                </div>
                <div class="carousel-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="w-100">
                    <a href="#">
                        <img class='img-fluid rounded' src="{{ MEDIA_URL }}group_yoga.jpg" alt="Group Yoga">
                        <p class="capture-services">Group Yoga classes</p>
                    </a>
                    </div>
                </div>
                <div class="carousel-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="w-100">
                    <a href="#">
                        <img class='img-fluid rounded' src="{{ MEDIA_URL }}massage.jpg" alt="Classical/Swedish massage">
                        <p class="capture-services">Classical/Swedish massage</p>
                    </a>
                    </div>
                </div>
                <div class="carousel-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="w-100">
                    <a href="{% url 'products:products' %}">
                        <img class='img-fluid rounded' src="{{ MEDIA_URL }}applicator.jpg" alt="Mechanical therapy">
                        <p class="capture-services">Mechanical therapy</p>
                    </a>
                    </div>
                </div>
                <div class="carousel-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="w-100">
                    <a href="#">
                        <img class='img-fluid rounded' src="{{ MEDIA_URL }}joint_manipulations.jpg" alt="Joint manipulations">
                        <p class="capture-services">Joint manipulations</p>
                    </a>
                    </div>
                </div>
                <div class="carousel-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="w-100">
                    <a href="#">
                        <img class='img-fluid rounded' src="{{ MEDIA_URL }}electro_stimulation.jpg" alt="Electrical Dynamic Stimulation">
                        <p class="capture-services">Electrical Dynamic Stimulation</p>
                    </a>
                    </div>
                </div>
                <div class="carousel-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="w-100">
                        <a href="#">
                            <img class='img-fluid rounded' src="{{ MEDIA_URL }}yoga_session_2.jpg" alt="Yoga">
                            <p class="capture-services">Yoga Therapy</p>
                        </a>
                        </div>                          
                </div>
                <div class="carousel-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="w-100">
                        <a href="#">
                            <img class='img-fluid rounded' src="{{ MEDIA_URL }}baby_massage.jpg" alt="Baby Massage">
                            <p class="capture-services">Baby Massage</p>
                        </a>
                        </div>                          
                </div>
                </div>
                <a class="carousel-control-prev w-auto px-5 px-xl-4" href="#carousel-multiple" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next w-auto px-5 px-xl-4" href="#carousel-multiple" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
            </div>
        </div>
        </div>
        <h3 class="py-3">About Us</h3>
        <hr>
        <p class="text-left">
        <strong>T-STUDIO in Ireland</strong> is our personal journey into the world of yoga and massage, 
        including the wonderful range of treatments we offer to our clients, as well as unique needle applicators
         that awaken the human body's self-defense mechanisms, stimulate metabolism and provide a strengthened immune system, affecting nerve endings.</p>
        <p class="text-left">We are two specialists in natural and holistic methods of treatment. We love what we do and it gives us great joy to see 
        the positive changes taking place in the lives and health of many of our clients.</p>        
        <h4 class="py-3">Holistic and Sports Massage</h4> 
        <p class="text-left">Massage with appropriate base and essential oils is the first method of treatment. Manipulations and releasing techniques may be used. 
        Needle applicators are used very often to stimulate blood circulation and reach the deep relaxation stage. 
        For chronic pain, muscle weakness, and /or functional nerve disorders, electrical stimulation is added to the scope of therapies. 
        Exercising is the perfect way of preventing diseases, and prolonging and consolidating results of the treatment. 
        A customized safe exercise program will be created for you empowering you to protect your health, build and maintain a strong, vibrant body.
        </p>
        <p class="text-left">
        Massage is versatile therapy with very short list of contraindication; it can be done in sitting or lying position and even through clothes, 
        lasting from 5 minutes to 2.5 hours. Massage is an effective and powerful, yet absolutely natural, method of treating diseases and alleviating 
        symptoms affecting muscles, tendons, ligaments, joints and some internal organs. Usually a series of sessions is required to achieve a stable result.
        </p>
        <p class="text-left">The Holistic and Sports Massage provided by <strong>Dmitrij Tkachenko</strong>, has been practicing since 1995.<br>
            Degrees: Medical Doctor (Ukraine), Medical Scientist (B.Sc, GMITIreland).<br>                
            Certificates and Diplomas: Medical Massage and Rehab Exercises, Dynamic Electrical Stimulation, Needle Applicator Devices.
            </p>
        <h4 class="py-3">Hatha Yoga</h4>
        <p class="text-left">
        <strong>Yulia Tkachenko</strong>, has been personally practicing since 2012, teaching and healing with yoga since 2014.<br>
        Master Degree in Education.<br>
        Certificates and Diplomas: Reiki, Yoga Instructor, Yoga Therapist, Instructor of REHAB Exercises, Thai Massage.
        </p>
        <p class="text-left">
        My teaching centres on classical Hatha Yoga, coaching is carried out individually and in groups with a strong educational focus on the science behind the 
        principles of practices. Group sessions suit relatively healthy people able to participate in a moderate range of movement.<br>
        Individual yoga-therapy is offered to those who's health is impaired allowing us time and space to develop a customized practice. 
        While following yoga principals, knowledge of biomechanics, neurology, physiology, anatomy,orthopaedics and Thai massage are drawn on during treatment.<br> 
        Thai massage is a therapeutic technique of muscle relaxation and autonomic nervous system sedation based on a method of ischemic compression.
        (It is very different from some of the stereotypes that misrepresent this ancient practice.)
        </p>          
</div>

<script>
    $(function () {
        $("#carousel-multiple").on("slide.bs.carousel", function (e) {
            var itemsPerSlide = parseInt($(this).attr('data-maximum-items-per-slide')),
            totalItems = $(".carousel-item", this).length,
            reserve = 1,
            $itemsContainer = $(".carousel-inner", this),
            it = (itemsPerSlide + reserve) - (totalItems - e.to);

            if (it > 0) {
            for (var i = 0; i < it; i++) {
                $(".carousel-item", this)
                .eq(e.direction == "left" ? i : 0)           
                .appendTo($itemsContainer);
            }
            }
        });
    });
</script>

{% endblock %}