{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&family=Merriweather&display=swap">       
        <link rel="stylesheet" href="{% static 'css/base.css' %}">        
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %} 
        <script src="https://kit.fontawesome.com/63ab2cc824.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}


    <title>T-studio{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner offers-banner">
              <div class="carousel-item active">
                <span class="offer-therapy w-100 mt-2 mt-lg-1">The first group yoga class is &nbsp; <strong>FREE!</strong></span>          
              </div>
              <div class="carousel-item">
                <span class="offer-therapy w-100 mt-2 mt-lg-1"><strong>30% OFF</strong>&nbsp; first therapy!</span> 
              </div>
            </div>
        </div>
        <div id="topnav" class="row bg-logo pt-2 d-lg-flex">
            <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 text-left d-none d-lg-block">
                <a href="{% url 'core' %}">
                    <img class='logo-img' src="{{ MEDIA_URL }}logo-t-studio.png" alt="Logo T-STUDIO">
                </a>
            </div>
            <div class="col-12 col-lg-6 py-2 py-lg-3 d-none d-lg-block text-center">
                <h3 class="logo-font text-center" id="slogan">HEALTHY BODY, MIND AND SPIRIT</h3>
            </div>
            <div class="col-12 col-lg-3 py-lg-0">
                <ul class="list-inline list-unstyled my-0">
                    <li class="list-inline-item d-lg-none">
                        <div class="text-left"> 
                            <a href="{% url 'core' %}">
                                <img class='logo-img' src="{{ MEDIA_URL }}logo-t-studio.png" alt="Logo T-STUDIO">
                            </a>
                        </div>
                    </li>
                    <li class="list-inline-item cart ml-2">
                        <a class="nav-link" href="{% url 'view_cart' %}" >
                            <div class="text-center icons-colour">
                                <div><i class="fas fa-shopping-bag fa-lg"></i>&nbsp; &nbsp;
                                    {% if product_count %}
                                    <span class="badge badge-warning"> {{ product_count }}</span>
                                    {% endif %}
                                    <p class="my-0">
                                        Cart<br>
                                        {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>                               
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item dropdown ml-2">
                        <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center icons-colour">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">
                                    My Account
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}                           
                                    <a href="{% url 'products:add_product' %}" class="dropdown-item icons-colour">Product Management</a>
                                    <a href="{% url 'products:show_reviews' %}" class="dropdown-item icons-colour">Review Management</a>
                                {% endif %}                                
                                    <a href="{% url 'profile:profile' %}" class="dropdown-item icons-colour">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item icons-colour">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item icons-colour">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item icons-colour">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-header">
            <nav class="navbar navbar-expand-lg navbar-light w-100 ml-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/main-nav.html' %}                    
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

     <!-- Footer -->
     <div class="mt-auto">
        <footer class="footer-container footer-custom sticky-bottom mt-5">
            <div class="container">
                <div class="row footer-row">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-content">                    
                            <ul>
                                <li class="mt-md-5"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
                                <li><a class="nav-link" href="#">Refund money</a></li>
                                <li><a class="nav-link" href="#">Delivery information</a></li>
                                <li><a class="nav-link" href="#">FAQ</a></li>
                            </ul>
                            <hr class="d-block d-md-none">
                        </div>
                    </div>                    
                    <div class="col-md-4 col-sm-12">
                        <div id="mc_embed_shell">
                            <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">                           
                            <div id="mc_embed_signup">
                                <form
                                    action="https://inbox.us8.list-manage.com/subscribe/post?u=faa5f0ae36fedb4e8f36433be&amp;id=3f33bb9cc2&amp;f_id=001c77e0f0"
                                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                                    target="_blank">
                                    <div id="mc_embed_signup_scroll">
                                        <h2>Subscribe</h2><span>to get extra offers and discounts</span>                                                                              
                                        <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                                    class="asterisk asterisk-black">*</span></label>
                                        <input type="email" name="EMAIL" class="required email w-100"
                                                id="mce-EMAIL" required="" value=""></div>
                                        <div id="mce-responses" class="clear foot">
                                            <div class="response" id="mce-error-response" style="display: none;"></div>
                                            <div class="response" id="mce-success-response" style="display: none;"></div>
                                        </div>
                                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                            /* real people should not fill this in and expect good things - do not remove this or risk form bot
                                            signups */
                                            <input type="text" name="b_faa5f0ae36fedb4e8f36433be_3f33bb9cc2" tabindex="-1" value="">
                                        </div>
                                        <div class="optionalParent">
                                            <div class="clear foot">
                                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                                    value="Subscribe">                                               
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr class="d-block d-md-none">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                    <div class="footer-content">
                        <ul>                       
                            <li class="mt-md-5">Unit 1, T-Studio Homeworld,</li>
                            <li>Oranmore Business Park</li>
                            <li>Carrowmoneash</li>
                            <li>Oranmore, Co. Galway</li>
                            <li>H91 X4F5</li>                       
                            <li>E-mail: tstudio.ie@gmail.com</li>
                            <li>Mob. 087 1762608</li> 
                        </ul>
                    </div>                
                </div>
            </div>
            <div class="row text-center mt-2">
                <div class="col-12">
                    <span class="text-muted">© 2024 Copyright: T-STUDIO</span>
                </div>
            </div>         
        </footer>
     </div> 
    <!-- End Footer -->

    {% block postloadjs %}
    <script type="text/javascript">        
            $('.toast').toast('show');  
        // setTimeout(() => {
        //     $('.toast').toast('hide');
        // }, "7000");   
    </script>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function($) {
        window.fnames = new Array(); window.ftypes = new Array();
    fnames[0]='EMAIL';
    ftypes[0]='email';
    fnames[1]='FNAME';
    ftypes[1]='text';
    fnames[2]='LNAME';
    ftypes[2]='text';
    fnames[3]='ADDRESS';
    ftypes[3]='address';
    fnames[4]='PHONE';
    ftypes[4]='phone';
    fnames[5]='BIRTHDAY';
    ftypes[5]='birthday';
    }
    (jQuery));var $mcj = jQuery.noConflict(true);</script>                     
                     
    {% endblock %}

 </body>
</html>

