{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&family=Merriweather&display=swap">       
        <link rel="stylesheet" href="{% static 'css/base.css' %}">        
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %} 
        <script src="https://kit.fontawesome.com/63ab2cc824.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}


    <title>T-studio{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner offers-banner">
              <div class="carousel-item active">
                <span class="offer-therapy w-100">The first group yoga class is &nbsp; <strong>FREE!</strong></span>          
              </div>
              <div class="carousel-item">
                <span class="offer-therapy w-100"><strong>30% OFF</strong>&nbsp; first therapy!</span> 
              </div>
            </div>
        </div>
        <div id="topnav" class="row bg-logo pt-2 d-lg-flex">
            <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 text-left d-none d-lg-block">
                <a href="{% url 'core' %}">
                    <img class='logo-img' src="{{ MEDIA_URL }}logo-t-studio.png" alt="Logo T-STUDIO">
                </a>
            </div>
            <div class="col-12 col-lg-6 py-2 py-lg-3 d-none d-lg-block text-center">
                <h3 class="logo-font text-center" id="slogan">HEALTHY BODY, MIND AND SPIRIT</h3>
            </div>
            <div class="col-12 col-lg-3 py-lg-0">
                <ul class="list-inline list-unstyled my-0">
                    <li class="list-inline-item d-lg-none">
                        <div class="text-left"> 
                            <a href="{% url 'core' %}">
                                <img class='logo-img' src="{{ MEDIA_URL }}logo-t-studio.png" alt="Logo T-STUDIO">
                            </a>
                        </div>
                    </li>
                    <li class="list-inline-item cart ml-2">
                        <a class="nav-link icons-colour" href="{% url 'view_cart' %}" >
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i>&nbsp; &nbsp;
                                    {% if product_count %}
                                    <span class="badge badge-warning"> {{ product_count }}</span>
                                    {% endif %}
                                    <p class="my-0">
                                        Cart<br>
                                        {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>                               
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item dropdown ml-2">
                        <a class="nav-link icons-colour" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">
                                    My Account
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}                           
                                    <a href="{% url 'products:add_product' %}" class="dropdown-item icons-colour">Product Management</a>
                                    <a href="{% url 'products:show_reviews' %}" class="dropdown-item icons-colour">Review Management</a>
                                {% endif %}                                
                                    <a href="{% url 'profile:profile' %}" class="dropdown-item icons-colour">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item icons-colour">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item icons-colour">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item icons-colour">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-header">
            <nav class="navbar navbar-expand-lg navbar-light w-100 ml-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/main-nav.html' %}                    
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

     <!-- Footer -->
     <div class="mt-auto">
        <footer class="footer-container sticky-bottom mt-3">
            <div class="container">
                <div class="row footer-row">
                    <div class="col-md-3 col-sm-12">
                    <div class="footer-content">                    
                        <ul>
                        <li class="mt-5">Contact Us</li>
                        <li class="mt-2">Refund money</li>
                        <li class="mt-2">Delivery information</li>
                        <li class="mt-2">FAQ</li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                    <h5 class="text-center map-text">Our location:</h5>
                    <div class="footer-content text-center google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38168.83627818987!2d-9.026838266000743!3d53.279641470693775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b91774f63465b%3A0xda92239c3e7f5f9b!2sHolistic%20and%20Sport%20Massage.%20Hatha%20Yoga!5e0!3m2!1sru!2sie!4v1701265111115!5m2!1sru!2sie" 
                        width="300" height="225" frameborder="0" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade" title="Google maps"></iframe>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                    <div class="footer-content">
                        <ul>                       
                        <li class="mt-5">Oranmore Community Centre</li>
                        <li>Dublin Rd</li>
                        <li>Frenchfort</li>
                        <li>Oranmore, Co. Galway</li>
                        <li>H91 AV2D</li>
                        <li>Dublin Rd</li>
                        <li>E-mail:</li>
                        <li>Mob. 087 1762608</li>
                        
                        </ul>
                    </div>
                </div>                 
            </div>         
        </footer>
     </div> 
        <!-- End Footer -->

    {% block postloadjs %}
    <script type="text/javascript">        
            $('.toast').toast('show');  
        // setTimeout(() => {
        //     $('.toast').toast('hide');
        // }, "7000");   
    </script>
    {% endblock %}

 </body>
</html>

