{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container text-center">
        <div class="row">
            <div class="col-12 mt-2 my-auto">
                <h3 class="top-products-link">Product Management</h3>
                <br><br>
                <h4 class="profile-header mb-3">Are you sure you want to delete {{ product.name }}?</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container text-center mt-2"> 
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <a href="{% url 'products:delete_product' product.id %}?delete_product=true" class="btn btn-basic">Delete</a>
            <a href="{% url 'products:product_detail' product.id %}" class="btn btn-cancel ml-3">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}